body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

/* Select by id  */
#dummy-selector {
    background-color: blue;
    width: 100px;
    border-radius: 6px;
    color: white;
    padding: 3px 9px;
    text-align: center;
    margin-bottom: 30px;
}

.amazing-button {
    background-color: rgb(7, 219, 113);
    border-radius: 6px;
    color: white;
    padding: 3px 9px;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #019001;
    cursor: pointer;
}

.amazing-button:hover {
   background-color: rgb(96, 237, 167);
}


.demo-box {
    height: 3rem;
}


.box-1 {
    width: 30px;
    height: 30px;
    border-radius: 6px;
}
.box-2 {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
.box-3 {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}